/* @font-face {
    font-family: "Acma-Semibold";
    src: url('./assets/fonts/PPAcma-Semibold.otf');
} */

@font-face {
    font-family: "Acma-Light";
    src: url('./assets/fonts/PPAcma-Light.otf');
}

@font-face {
    font-family: "Acma-Thin";
    src: url('./assets/fonts/PPAcma-Thin.otf');
}

@font-face {
    font-family: "HelveticaNeueBlack";
    src: url('./fonts/HelveticaNeueBlack.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueMedium";
    src: url('./fonts/HelveticaNeueMedium.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueThin";
    src: url('./fonts/HelveticaNeueThin.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueUltraLight";
    src: url('./fonts/HelveticaNeueUltraLight.otf') format('opentype');
    font-display: swap;
}




.title-container {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.title-container .top-title {
    font-family: "HelveticaNeueBlack";
    color: #ECDBBA;
    font-family: "HelveticaNeueBlack";
    font-size: 1.8rem;
    padding: 0px;
}

.title-container .tag-line {
    font-family: "HelveticaNeueThin";
    font-size: 1rem;
    padding: 0px;
    letter-spacing: 0.5px;
    color: #ecdbbabf;
    margin-bottom: -10px;
    /* color: #20553ea0; */
}



.sexy_line { 
    margin: 26px 0px 26px 0px;
    height: 0.7px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#161616), to(#161616), color-stop(50%, #346751));
}

.title-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-form .form-input {
    color: white;
    
}

input[type=text], input[type=password] {
    background-color: #252424;
    border: 1px solid rgba(255, 255, 255, 0.112);
    padding: 5px 15px;
    border-radius: 10px;
    height: 45px;
    width: 300px;
    color: white;
    letter-spacing: 1px;
    font-family: "HelveticaNeueThin";
}

input[type=text]::placeholder {
    font-family: "HelveticaNeueThin";
    letter-spacing: 0.7px;
}

.title-form .title-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.title-form .title-form-submit {
    display: flex;
    flex-direction: column;
}

.title-form .submit-button {
    padding: 0.5px 15px;
    height: 45px;
    background: #346751;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    font-family: "HelveticaNeueThin";
    letter-spacing: 1px;
}

.bottom-navigator {
    font-family: "HelveticaNeueThin";
    color: white;
}

.navigate-link {
    font-family: "HelveticaNeueThin";
    text-decoration: none;
    color: #346751;
}



.credit-thing {
    font-family: "HelveticaNeueThin";
    color: #ECDBBA;
    position: absolute;
    letter-spacing: 1px;
    bottom: 7%;
    font-size: 0.8em;
    text-align: center;
}


@keyframes float {
    0%   { transform: translateY(0px) translateX(0px); }
    50%  { transform: translateY(20px) translateX(10px); }
    100% { transform: translateY(0px) translateX(0px); }
}
